<article class="tile is-child box">
  <a href="/posts/{{id}}" class="title mb-3">{{title}}</a>
  <p class="mb-2">Written by {{user.username}} | on
  {{createdAt}}</p>
  <div class="content">
    <p>{{content}}</p>
  </div>
</article>