<a href="/posts/{{id}}" class="title mb-3">{{title}}</a>
<div class="short-content mt-3">
  <p>{{content}}</p>
</div>
<p class="mt-1 post-details">Written by {{user.username}} • Published on
{{format_date createdAt}} • {{comments.length}} {{format_plural 'comment' comments.length}}</p>